@page "/propertyClasses"
@layout MetadataLayout
@using MDD4All.SpecIF.ViewModels.Metadata
@using MDD4All.SpecIF.DataModels.Manipulation
@if(DataContext.EditModeActive)
{
    <PropertyClassEditor DataContext="@DataContext" />
}
else
{
<h3><span class="bi bi-card-text" aria-hidden="true"></span>&nbsp;Property Class Browser</h3>
<div>
    <button type="button" class="btn btn-success"
            @onclick="() => DataContext.AddPropertyClassCommand.Execute(null)">
            @L["Button.NewPropertyClass"]
    </button>
</div>
<br />
<h4>@L["Title.PropertyClasses"]</h4>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Data Type</th>
            <th>ID</th>
            <th>Revision</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (PropertyClassViewModel viewModel in DataContext.PropertyClasses)
        {
            <tr>
                <td><strong>@viewModel.PropertyClass.Title</strong></td>
                <td>@viewModel.PropertyClass.DataType</td>
                <td>@viewModel.PropertyClass.ID</td>
                <td>@viewModel.PropertyClass.Revision</td>
                <td>@((MarkupString)viewModel.PropertyClass.Description.GetDefaultStringValue())</td>
            </tr>
        }
    </tbody>
</table>
}
